.cart-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.cart-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

.item-name {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: justify;
}

.item-price, .item-quantity {
    font-size: 16px;
    padding: 10px;
    text-align: justify;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-button {
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-button:hover {
    background-color: #f0f0f0;
}

.quantity-display {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.delete-button {
    background-color: #ff0022;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 40%;
    text-align: center;
}
.pay-button{
    background-color: #0091ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .cart-container {
        padding: 10px;
    }

    .cart-item {
        padding: 15px;
    }

    .quantity-controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .quantity-display {
        margin: 10px 0;
    }
}
