/* compHeader.css */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff5656;
    padding: 10px 20px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

.location select {
    padding: 16px 75px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.user-actions {
    display: flex;
    gap: 20px;
}

.login, .register {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login:hover, .register:hover {
    background-color: #0056b3;
}

.hamburger {
    width: 30px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
    display: none;
}

.list-hotels {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hotel-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.33% - 20px);
    border: 1px solid #ccc; /* Added border */
    display: flex; /* Ensure the cards align properly */
    flex-direction: column; /* Set flex direction to column */
}

.hotel-details {
    flex-grow: 1; /* Allow hotel details section to grow */
    padding: 20px;
    display: flex; /* Make details section a flex container */
    flex-direction: column; /* Set flex direction to column */
}

.hotel-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hotel-address {
    margin-bottom: 10px;
}

.hotel-contact {
    margin-bottom: 10px;
}

.hotel-reviews {
    margin-bottom: 10px;
    color: #888;
}

.hotel-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.star-rating {
    color: #ffc107; /* Change color to yellow */
}
