.main-navbar {
    background-image: url('../assets/main_bg.png'); /* Update the path to your image */
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.navbar-background {
    width: 100%;
    padding: 20px;
}

.navbar-center-text {
    border-radius: 10%;
    text-align: center;
    color: white;
}

.navbar-center-text h1 {
    margin: 0;
    background: none;
    font-size: 100px;
    font-weight: 800;
    font-style: italic;
}

.navbar-center-text p {
    margin: 0;
    font-size: 40px;

}

.navbar-links {
    position: absolute;
    top: 20px;
    right: 40px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 45px;
    font-size: 24px;
    font-weight: 500;
}

.navbar-links a:last-child {
    margin-right: 0;
}


.card-delivery{
    display: flex;
    flex-direction: row;
    margin:70px;
    gap: 140px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-delivery img{
    border-radius: 30px;
}

.card-delivery h2{
    color: #000000;
    font-size: 27px;
    margin: 15px;
    font-family: arial;
}

.card-delivery p{
    color: #000000;
    font-size: 17px;
    font-family: arial;
    margin: 15px;

}

.card-home{
    text-shadow: #000000;
    border: 1px solid rgb(114, 107, 107);
border-radius: 30px;
}

.card-dine{
    text-shadow: #000000;
    border: 1px solid rgb(114, 107, 107);
border-radius: 30px;
}


.card-delivery a{
    text-decoration: none;
}

