/* Partner.css */

/* Page styles */
.page {
  width: 70vw;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Partner section styles */
.partner-section {
  background-image: url('../assets/partner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  font-family: 'Roboto', sans-serif;
  color: #e1d3d3;
  text-align: center;
}

.partner-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.partner-section p {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.partner-section a {
  display: inline-block; /* Make the links behave like block elements */
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #ce4a04;
  margin: 10px;
}

.partner-section a:hover {
  background-color: #0056b3;
  color: #ccc;
}

.partner-section ul {
  list-style-type: none;
  padding: 0;
}

.partner-section li {
  margin-bottom: 8px;
}

/* Card partner styles */
.card-partner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fbf6f6;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.card-partner h1 {
  margin-bottom: 10px;
  color: #cfbbbb;
}

.card-partner p {
  margin-bottom: 10px;
  color: #ffffff;
}

.card-partner ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.card-partner li {
  width: calc(33.33% - 10px);
  margin-bottom: 15px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
}

/* Why Zomato styles */
.why-zomato {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.why-zomato div {
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.why-zomato h1 {
  margin-bottom: 40px;
}

.why-zomato h3 {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
}

.why-zomato div p {
  margin-bottom: 30px;
  color: blue;
  margin: 5px 0;
  font-size: 20px;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .page {
    width: 90vw;
  }

  .partner-section {
    padding: 30px;
  }

  .partner-section h2 {
    font-size: 30px;
  }

  .card-partner {
    padding: 15px;
  }

  .card-partner h1 {
    font-size: 24px;
  }

  .why-zomato {
    padding: 50px;
  }

  .why-zomato div {
    width: 250px;
  }

  .partner-section a {
    margin: 10px 0;
    width: 90%; /* Adjust the width as needed */
  }
}
